{% extends "base.html" %}

{% block docready %}
  {# $('.wysihtml5').wysihtml5(); #}
{% endblock %}

{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Heading</h2>
          {% include "form.html" with form=form %}
        </div>
        <div class="span4">
          <h2>{{ next_bake_day.date|date:'D d M' }} <span class="label">Next Week</span></h2>
           {% if next_bake_day.user %}
           <p>{{ next_bake_day.user.get_full_name }}'s doing it</p>
           {% else %}
           <p><a class="btn" href="#">Choose someone &raquo;</a></p>
           {% endif %}
          
       </div>
        <div class="span4">
          <h2>Recently</h2>
          
          <p>{{ recent_item.description }}</p>
          <p><a class="btn" href="#">Leave a rating &raquo;</a></p>
        </div>
      </div>

      <form>
        <textarea class="wysihtml5" placeholder="he jha"></textarea>
      </form>

{% endblock %}