{% extends "base.html" %}

{% block docready %}
  {# $('.wysihtml5').wysihtml5(); #}
{% endblock %}

{% block content %}

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit row">
              
          <div class="span7">
            <h1>Bake Wednesday</h1>
            <div class="nexttime span3">
              {% if next_bake_day %}<span class="label">{{ next_bake_day.date|date:'D d M' }}</span>{% endif %}
              <h2>Next week</h2>
              {% if next_bake_day.user %}
              <p><strong>{{ next_bake_day.user.first_name }}</strong>'s doing it</p>
              {% else %}
              <p><a class="btn" href="{% url bakeweds:volunteer %}">Choose someone &raquo;</a></p>
              {% endif %}
          </div>
            
            <p class="clear"><a href="{% url bakeweds:volunteer %}" class="btn btn-primary btn-large">Volunteer &raquo;</a> Come on it's a call to action!</p>
          </div>

           <div class="span3 lastweek">
            {% with past_bakes|first as recent %}
              
              <span class="label">{{ recent.date|date:'D d M' }}</span>
              {% if recent.product %}<img class="bakepic" src="https://s3-eu-west-1.amazonaws.com/bakeweds/{{recent.product.thumbnail}}" alt="" />{% endif %}
              <h2>Last week</h2>
              
              {% if recent %}
              <p>{{ recent.user.first_name }} made {{ recent.product.description }}</p>
              
              <p><a class="btn" href="{% url bakeweds:detail recent.product.id %}">Leave a comment ({{ comments_count }}) &raquo;</a></p>
              {% endif %}
            {% endwith %}
          </div>


          
       
        </div>
        <div class="row pastbakes">
          {% if past_bakes %}
            {% for bake in past_bakes %}
              {% if bake.product %}
              <a class="{% cycle a,b,c %}" href="{% url bakeweds:detail bake.id %}">
                <img src="https://s3-eu-west-1.amazonaws.com/bakeweds/{{ bake.product.thumbnail }}" alt="{{ bake.product.description }}" />
                <span class="label">{{ bake.user.first_name }}</span>
              </a>
              {% endif %}
            {% endfor %}
          {% endif %}
          
        </div>
      





{% endblock %}